.layout {
  grid-template-rows: 100dvh;
  overflow: hidden;
}
.initLayout {
  grid-template-columns: minmax(min-content, 460px) 1fr 0;
}
.inputLayout {
  grid-template-columns: minmax(min-content, 460px) 1fr 56px;
}
.transformLayout {
  grid-template-columns: 56px 1fr minmax(min-content, 320px);
}
.outputLayout {
  grid-template-columns: 56px 1fr minmax(min-content, 500px);
}
